<h2><%= @user.email %></h2>
<%= link_to '新規投稿', new_article_path %> |
<%= link_to 'ユーザー一覧', users_path %>
<h3>投稿一覧</h3>
<% @user.articles.each do |article| %>
  <table>
    <tr>
      <th>title</th>
      <th>author</th>
    </tr>
    <tr>
      <td><%= link_to article.title, article_path(article.id) %></td>
      <td><%= article.author %></td>
    </tr>
  </table>
<% end %>
